.post {
  background-color: white;
  display: grid;
  width: 800px;
  min-height: 100px;
  grid-template-columns: 1fr 30%;
  padding: 16px;
  font-family: Verdana, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  box-shadow: 0 0 15px -10px black;
  gap: 16px;
}

.post_info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.post_description {
  font-weight: 400;
  font-size: 12px;
}

.post_title-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.post_likes-container {
  display: flex;
  align-items: center;
}

.post_likes {
  font-size: 12px;
}

.post_author {
  align-self: flex-start;
  justify-self: end;
}

.author {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: end;
}
.author_description > h5 {
  text-align: end;
}

.post_date {
  opacity: 0.7;
}

.post_like-btn {
  background-image: url('./post-img/Vector.svg');
  background-position: center;
  background-color: inherit;
  background-repeat: no-repeat;
  border: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.post_like-btn:disabled {
  cursor: auto;
  opacity: 0.6;
}

.post_like-btn.liked {
  background-image: url('./post-img/path4.svg');
}

.author_avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.post_tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
}
